.ui-page .ui-header .ui-title {
	margin: 0 20%;
}
#home img#header-img {
	width: 100% !important;
	margin: 0 !important;
	padding: 0 !important;
}
/* navigation -------------------------------------*/

.ui-btn-active {
	background-color:#34cfc6;
}
.ui-footer .ui-navbar li {
	height: 100%;
}
.ui-controlgroup-controls {
	width: 100%;
}
.ui-radio.ui-mini {
	width: 20%;
}
label.ui-btn.ui-corner-all.ui-btn-inherit {
	font-weight: normal;
	font-size: 12px;
	height: auto;
	text-align: center;
}
html body .ui-btn.ui-btn-b {
	background-color: transparent !important;
	border:none !important;
}
a.ui-nodisc-icon.ui-icon-arrow-l.ui-btn-icon-notext,
.ui-navbar ul li a.ui-nodisc-icon.ui-icon-home,
a.ui-nodisc-icon.ui-icon-arrow-l.ui-btn-icon-notext:active,
.ui-navbar ul li a.ui-nodisc-icon.ui-icon-home:active, {
    background-color: transparent !important;
    border: none !important;
    text-shadow: none !important;
}
.ui-header a.ui-nodisc-icon.ui-icon-arrow-l.ui-btn-icon-notext:hover,
.ui-header a.ui-nodisc-icon.ui-icon-arrow-l.ui-btn-icon-notext:focus,
.ui-navbar ul li a.ui-nodisc-icon.ui-icon-home:hover,
.ui-navbar ul li a.ui-nodisc-icon.ui-icon-home:focus {
    background-color: #aaaaaa !important;
	border-color: #aaaaaa !important;
	text-shadow: none !important;
}
.ui-navbar li.ui-block-b, .ui-navbar li.ui-block-c, .ui-navbar li.ui-block-d {
    width: 30%;
}
.ui-navbar li.ui-block-a {
    max-width: 10%;
}
.ui-navbar ul li a.ui-nodisc-icon.ui-icon-home {
    margin: 5px 0 0 10px;
    background-color: rgba(1,1,1,0) !important;
    border: none !important;
    text-shadow: none !important;
}
.ui-header, .ui-footer {
	border-top-width: 2px !important;
}

/* questionnaire ---------------------------------*/
label.ui-btn img {
	width: 60%;
}
#organization-button span {
	font-weight: 300;
	text-align: left;
	color: #333;
}
#organization-button {
	padding: .7em .4em;
}
/*.questions {
	display: none;
}*/
#govscore-results1,
#govscore-results2,
#ag1-results,
#ag2-results, 
#ag3-results, 
#ag4-results, 
#ag5-results {
	display: none;
}
#govscore-results1.see,
#govscore-results2.see,
#ag1-results.see,
#ag2-results.see, 
#ag3-results.see, 
#ag4-results.see, 
#ag5-results.see  {
	display: block;
}
button.hide {
	display:none;
}
a.legend.ui-link {
	color: #9BB895;
	font-weight: 700;
	position: absolute;
	right: 5%;
	text-align: center;
	padding: 0 8px 0 8px;
	text-decoration: none;
}
/* home logos -----------------------------*/
#home img {
	width: 60%;
	margin: 20px 20%;
}
/* adv gs links page -----------------------------*/

#acc-btn.gray,
#enh-btn.gray,
#stake-btn.gray,
#dir-btn.gray,
#res-btn.gray {
	color: #dddddd;
}

/* pop-up ----------------------------------------*/

.ui-popup-container {
	position: fixed !important;
	top: 60px !important;
	left: 25% !important;
}
.ui-popup.ui-body-inherit {
	border-width: 1px;
	border-style: solid;
	border-color:#CBE8C5;
}
div#popupBasic {
	background: #CBE8C5;
}
#legend span {
	padding: 4px 10px 0;
	display: inline-block;
}
#legend img {
	width: 20%;
	float: left;
	clear: both;
}
#legend{
	background-color: rgba(0, 0, 0, 0)/*{c-bup-background-color}*/;
	padding: 0 0 10% 10%;
}

/* buttons ----------------------------------------*/

a#govscore-results2 {
	background-color: #2FB116;
	color: #FFF;
}
a#ag1results,
a#ag2results,
a#ag3results,
a#ag4results,
a#ag5results {
	background-color: #DC411A;
	color: #FFF;
}

/* results ----------------------------------------*/

#gs-results p {
margin: .5em 0;
}
#gs-results h3 {
margin: .5em 0;
}
#gs-results div {
border: 1px solid #DDD;
padding: 0 3%;
margin: 1em 0;
}
p.level {
font-style: italic;
}